<div class="row fit-bottom" question-id="{{id}}">
    <div class="col s12">
        <p class="flow-text" id="geo_status">Setting up your geolocation ..</p>
    </div>
    <div class="col s12">
    	<p class="flow-text geo-details" id="geo_details"></p>
    	<div class="row">
			<div id="staticmap" class="col s6 geo-image">
			</div>
			<div id="streepview" class="col s6 geo-image">
			</div>
    	</div>
    </div>
</div>