<div class="row fit-bottom">
	<div class="col s12">
	    <p class="flow-text">{{question}}</p>
	</div>
	<div class="input-field col s12">
	  <!--   <select multiple>
			<option value="" disabled selected>Choose your option</option>
			<option value="1">Option 1</option>
			<option value="2">Option 2</option>
			<option value="3">Option 3</option>
		</select>
		<label>Materialize Multiple Select</label> -->
	</div>

  <!-- 
	<div class="col s12">
        <div class="input-field">
        	<div class="justify-container">
        		<div class="child">
		    	<input type="checkbox" id="test1" />
			    <label for="test1">Yellow</label>
			    </div>
			    <div class="child">
				<input type="checkbox" id="test2" />
			    <label for="test2">Yellow</label>
			    </div>
			    <div class="child">
				<input type="checkbox" id="test3" />
			    <label for="test3">Yellow</label>
			    </div>
			    <div class="child">
			    <input type="checkbox" id="test4" />
			    <label for="test4">Yellow</label>
			    </div>
        	</div>
			<label for="first_name">Answers</label>
        </div>

	</div> -->
</div>