<div class="row fit-bottom" question-id="{{id}}">
    <div class="col s12">
        <p class="flow-text">{{question}}</p>
    </div>
    <div class="col s12">
        <div class="input-field col s12">
          <textarea id="textarea1" class="materialize-textarea"></textarea>
          <label for="textarea1">Your Answer</label>
        </div>
    </div>
</div>