<div class="row fit-bottom" question-id="{{id}}">
    <div class="col s12">
        <p class="flow-text">{{question}}</p>
    </div>
    <div class="col s12">
		<form action="#">
			<p class="range-field">
				<input type="range" id="test5" min="{{slider_min}}" max="{{slider_max}}" />
			</p>
		</form>
    </div>
</div>