<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-head">
                <img id="go_clockin" class="clickable center-image nav-logo" src="./inc/images/MI_logo_v2.9.1.png">
            </li>
            <li class="sidebar-brand">
                <a href="#" id="go_clockin" class="white-text text-darken-1 nav-account">
                    <small>{{email}}</small>
                </a>
            </li>
            <li>
                <a class="white-text text-darken-1">Settings</a>
            </li>
        </ul>
    </div>

    <!-- /#sidebar-wrapper -->
    <nav class="amber accent-2" role="navigation">
        <div class="nav-wrapper container"><a id="logo-container" class="brand-logo white-text"><span id="survey_title_header" class="grey-text text-darken-3"></span></a>
            <a href="#" id="menu-toggle" class="button-collapse"><i class="material-icons sm white-text">menu</i></a>
        </div>
    
        <div id="landing-loader" class="progress yellow landing-loader">
            <div class="indeterminate amber darken-3"></div>
        </div>
    </nav>

    <!-- Page Content -->
    <div id="page-content-wrapper" class="hidden">
    </div>
    <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->