<div class="input-field col s12">
	<input id="email" type="email" class="validate" value="{{email}}">
	<label id="email-error" for="email">Email</label>
	<div id="error" class="error"></div>
	<a id="next" class="waves-effect waves-light btn col s12 disabled landing-next">Next</a>
</div>