<div class="input-field col s12">
	<input id="password" type="password" value="nmnglobal" class="validate">
	<label id="password-error" for="password">Password</label>
	<div id="error" class="error"></div>
	<a id="signin" class="waves-effect waves-light btn col s12 disabled landing-next">Sign in</a>
</div>