 /*Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

header, main, footer {
      padding-left: 240px;
    }

    @media only screen and (max-width : 992px) {
      header, main, footer {
        padding-left: 0;
      }
    }

/*axel mods start****************************************************************************************/
/********************************************************************************************************/

body {
    /*Blue Grey 50*/
    background-color: #FAFAFA;
    overflow-x:hidden;
    width:100%;
}

a.btn {
 transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

/*smartphones*/
@media only screen
and (max-width : 532px) {
  .header-text {
    font-size: 30px;

    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition:    all 0.5s ease-in-out;
    -o-transition:      all 0.5s ease-in-out;
    transition:         all 0.5s ease-in-out;
  }
}

/*tablet & ipad*/
@media only screen
and (max-width : 800px)
and (min-width : 533px) {
  .header-text {
    font-size: 50px;

    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition:    all 0.5s ease-in-out;
    -o-transition:      all 0.5s ease-in-out;
    transition:         all 0.5s ease-in-out;
  }
}

/*laptop & desktop*/
@media only screen
and (min-width : 801px) {
  .header-text {
    font-size: 90px;
    
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition:    all 0.5s ease-in-out;
    -o-transition:      all 0.5s ease-in-out;
    transition:         all 0.5s ease-in-out;
  }
}

.global-centered {
  z-index: 9999;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
}

.loading-bg {
  display: none;
}

.landing-logo {
  padding-top: 5%;
  padding-bottom: 5%;
  width: 35%;
  height: 35%;
  max-width:100%;
  max-height:100%;
}

.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.loading-center {
  display: none;
  margin-left: auto;
  margin-right: auto;
}

.pull-left {
  float: left !important;
}

.pull-right {
  padding-right: 15px;
  padding-left: 0;
  /*border-right: 5px solid #eeeeee;*/
  border-left: 0;
  text-align: right;
}

.disabled {
  pointer-events: none;
  cursor: default;
}

.error {
  margin-bottom: 5%;
  display: none;
  color: #F44336;
}

.account-label-holder, .landing_direction-holder {
  height: 36px;
}

.accountname {
  /*font-weight: bold;*/
  display: none;
  line-height: 1;
  font-size: 18px;
}

.accountemail {
  display: none;
  font-size: 14px;
  line-height: 2;
}

.up {
  cursor: pointer !important;
  color: #9E9E9E;
  display: none;
  position: absolute;
  /*bottom: 1px;*/
  z-index: 1;
}

.landing-loader {
  display: none;
  position: absolute;
  top: -8px;
  z-index: 1;
}

.general-loader {
  /*display: none;*/
  position: absolute;
  top: -8px;
  /*z-index: 1;*/
}

.card {
  /* Initially we don't want any height, and we want the contents to be hidden */
  overflow: hidden;

  /* Set our transitions up. */
  -webkit-transition: max-height 0.8s ease-in-out;
  -moz-transition: max-height 0.8s ease-in-out;
  -o-transition: max-height 0.8s ease-in-out;
  transition: max-height 0.8s ease-in-out;
}

.landing-next {
  text-transform: none;
}

.clockintime {
  /*font-weight: bold;*/
  /*display: none;*/
  line-height: 0;
  font-size: 22px;
}

.clockin_label {
  /*font-weight: bold;*/
  /*display: none;*/
  line-height: 0;
  font-size: 15px;
}

.clockindate {
  /*display: none;*/
  font-size: 11px;
  line-height: 1;
}

.clockedintime {
  /*font-weight: bold;*/
  /*display: none;*/
  font-size: 12px;
  line-height: 0;
}

.clockedindate {
  /*display: none;*/
  font-size: 18px;
  line-height: 1;
}

.clock-holder {
  height: 50px;
}

.align-icon > i { vertical-align: middle !important; }

.clickable {
  cursor: pointer !important;
}

.activator {
  cursor: pointer !important;
}

.logout {
  display: none;
}

.dtr_entry {
  margin-top: 5%;
}

.real_date {
  /*font-weight: bold;*/
  /*display: none;*/
  margin-bottom: 14%;
}

.rendered-time {
  line-height: 0;
}

tr.short {
  line-height: 0px;
  font-size: 12px;
}

.clockout_time-holder {
  height: 50px;
}

.change_user:hover {
  color: #ffc400;
}

.header-text {
  font-family: 'Roboto Thin', serif;
}

a.clockout-button {
 border-top-right-radius: 0px !important; 
 border-bottom-right-radius: 0px !important; 
}

a.start-button {
 border-top-left-radius: 0px !important; 
 border-bottom-left-radius: 0px !important; 
}

#landing_email, #landing_password, #landing_clockin {
  display: none;
}

#card_action, #clockin-container, #mainmenu-container {
  display: none;
}

a {
  cursor: pointer;
}

.hidden {
  display: none;
}

.blur {
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
}

.sidebar-nav > .sidebar-head a:hover {
    color: #fff;
    background: none;
}

.sidebar-nav > .sidebar-head {
  height: 150px;
  color: #fff;
  /*background-color: #eceff1;*/
}

.nav-account {
  padding-left: 10%;
  padding-right: 10%;
}

.nav-logo {
  padding-top: 10%;
  padding-left: 10%;
  padding-right: 10%;
  width: 200px;
}

img.fit-container {
  max-width:100%;
  max-height:100%;
  padding: 5%;
}

.survey-image {
}

.fit-bottom {
  margin-bottom: 0 !important;
}

.collapsible-header {
  -webkit-transition: box-shadow 0.2s ease-in-out;
  -moz-transition:    box-shadow 0.2s ease-in-out;
  -o-transition:      box-shadow 0.2s ease-in-out;
  transition:         box-shadow 0.2s ease-in-out;
}

.collapsible-header.active:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.collapsible-header.active {  
  position: relative;
  z-index: 999;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.animate-transition {
  -webkit-transition: box-shadow 0.5s ease-in-out;
  -moz-transition:    box-shadow 0.5s ease-in-out;
  -o-transition:      box-shadow 0.5s ease-in-out;
  transition:         box-shadow 0.5s ease-in-out;
}

.question-counter {
  position: inline-block;
}

.question-pagination {
  display: none;
}

.justify-container {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 35px;
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}

.justify {
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1
}

.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}

.choices-container {
    padding-top: 50px;
    padding-left: 65px;
    padding-right: 65px;
    padding-bottom: 35px;
}

.question-list {
  border: solid 0.5px;
  padding: 10px;
  border-color: #e0e0e0;
}

/*axel mods end******************************************************************************************/
/********************************************************************************************************/